<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/perfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}}{{persona.apellido}}</p>
        <p>Full Stack Developer jr.</p>
    </div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi</h1>
        <p>Me describo como una persona inteligente e independiente, siempre con ganas de progresar y aprender. Me gusta trabajar en equipo para lograr una objetivo en comun, tambien puedo decir que soy creativa, interactiva, alegre.Quiero destacar que soy muy cooperativa y que si alguien necesita algo, siempre voy a dar lo mejor de mi.</p>
    </span>
</div>
</div>
