.row{
    margin:0;
    padding:0;
    max-width: 100%;
}
footer{
    color: white;
    font-size: 14px;
    display:flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #ecc9e4;
}