<div class="row">
    <h1>Hard Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
  [percent]="70"
  [radius]="100"
  [title]="'HTML'"
  [titleFontSize]="'40px'"
  [titleColor]="'#78C000'"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
 </div>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="100"
      [title]="'CSS'"
      [titleFontSize]="'40px'"
      [titleColor]="'#800aab'"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#800aab'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
     </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="80"
          [radius]="100"
          [title]="'Js'"
          [titleFontSize]="'40px'"
          [titleColor]="'#18d0d5'"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#18d0d5'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
         </div>   
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
              [percent]="75"
              [radius]="100"
              [title]="'Gh'"
              [titleFontSize]="'40px'"
              [titleColor]="'#4905c5'"
              [showUnits]="false"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#4905c5'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
             </div>       
      <h1>Soft Skills</h1>   
         <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                  [percent]="90"
                  [radius]="100"
                  [title]="'En'"
                  [titleFontSize]="'40px'"
                  [titleColor]="'#ecef2a'"
                  [showUnits]="false"
                  [outerStrokeWidth]="16"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#ecef2a'"
                  [innerStrokeColor]="'#C7E596'"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
                 </div>
          <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                      [percent]="100"
                      [radius]="100"
                      [title]="'Group'"
                      [titleFontSize]="'40px'"
                      [titleColor]="'#fd7e14'"
                      [showUnits]="false"
                      [outerStrokeWidth]="16"
                      [innerStrokeWidth]="8"
                      [outerStrokeColor]="'#fd7e14'"
                      [innerStrokeColor]="'#C7E596'"
                      [animation]="true"
                      [animationDuration]="300"
                    ></circle-progress>
                     </div>   
                 
</div>
