<div class="row col-proyec">
    <h1>Proyectos realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark button" routerLink="/newproyecto" *ngIf="isLogged">
            Agregar Proyecto
        </button>
    </div>
    <tr class="contenedor " *ngFor="let Proyectos of proyectos">
        <td class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>{{Proyectos.tituloP}}</h1>

        </td>
        <div class="des-pro">
            <td class="col-sm-12 col-md-7 col-lg-7 parte1">
                <p>{{Proyectos.descripcionP}}</p>
                <div class="botones">
                    <div *ngIf="isLogged">
                        <button class="btn btn-light button1" routerLink="/editproyecto/{{Proyectos.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </div>
                    <div *ngIf="isLogged">
                        <button class="btn btn-danger button1" (click)="delete(Proyectos.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </div>
                </div>
            </td>
            <td class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-2 parte2">

                <img src="{{Proyectos.imgP}}" class="img-fluid ing-proyecto" id="imgproyecto">


            </td>
        </div>
        
    </tr>

</div>