<div class="row">
    <h1>Estudios</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
       <ul>
           <li>
               <h1>Bachiller en Economía y Administración</h1>-<h3>(2013 - 2018)</h3>
           </li>
           <p>Colegio San Marcos</p>
       </ul> 
       <ul>
        <li>
            <h1>Curso de extraccioncita y administrativo de laboratorio </h1>-<h3>(2019 - 2019)</h3>
        </li>
        <p>Asociación Argentina de técnicos de laboratorio </p>
    </ul> 
    <ul>
        <li>
            <h1>Licenciatura en Producción de Bioimagenes</h1>-<h3>(2019 - Actualidad)</h3>
        </li>
        <p>Universidad Nacional  de José C. Paz</p>
    </ul> 

    </div>
</div>