<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark button" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr div="media-list" *ngFor="let Experiencia of expe">
                    <div>
                        <h3>{{Experiencia.nombreE}}</h3>
                    </div>
                    <div>
                        <h4>{{Experiencia.periodoEx}}</h4>
                    </div>
                    <div><b> {{Experiencia.descripcionE}}</b> </div>
                    <div class="botones">
                        <div *ngIf="isLogged">
                            <button class="btn btn-light button1" routerLink="/editexp/{{Experiencia.id}}">
                                <i class="bi bi-pencil-fill"></i> EDITAR</button>
                        </div>
                        <div *ngIf="isLogged">
                            <button class="btn btn-danger button1" (click)="delete(Experiencia.id)">
                                <i class="bi bi-trash-fill"></i> BORRAR</button>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>

</div>