<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1></h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae et molestiae architecto ratione, sequi voluptatibus placeat repellendus deserunt nostrum voluptate doloribus optio. Cum reiciendis minima eius, veniam fugit dicta ullam?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-2 parte2">
            <div class="">
            <img src="../../../assets/argentina programa.png" class="img-fluid ing-proyecto" id="imgproyecto">
        </div>

    </div>

</div>