<div class="row">
    <h1>Estudios</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
       <ul>
           <li>
               <h1>estudio 1</h1>-<h3>(años)</h3>
           </li>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium recusandae minus laboriosam enim, earum sit veniam sequi vitae. Voluptates recusandae excepturi tempore mollitia sit illum voluptatem voluptatum ipsa deleniti incidunt.</p>
       </ul> 
       <ul>
        <li>
            <h1>estudio 2</h1>-<h3>(años)</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium recusandae minus laboriosam enim, earum sit veniam sequi vitae. Voluptates recusandae excepturi tempore mollitia sit illum voluptatem voluptatum ipsa deleniti incidunt.</p>
    </ul> 
    <ul>
        <li>
            <h1>estudio 3</h1>-<h3>(años)</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium recusandae minus laboriosam enim, earum sit veniam sequi vitae. Voluptates recusandae excepturi tempore mollitia sit illum voluptatem voluptatum ipsa deleniti incidunt.</p>
    </ul> 

    </div>
</div>